* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body{
background-color: #f5efe6;
}
h1 {
padding-left: 10px;
padding-top: 10px;
color: #1c5c76;
font-family: 'ProximaNova', 'helvetica neue';

}

h2 {
padding-left: 10px;
font-family: 'ProximaNova', 'helvetica neue';
}

h3 {
font-family: 'ProximaNova', 'helvetica neue';
}

p {
font-family: 'ProximaNova', 'helvetica neue';
}

/***** Navigation Bar *******/
.navigation-bar ul {
list-style: none;
background-color: #444;
text-align: center;
padding: 0;
margin:0;
}

.navigation-bar li {
	font-family: 'ProximaNova', 'helvetica neue';
	font-size: 1.2em;
	line-height: 40px;
	height: 40px;
	border-bottom: 1px solid #888;
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}

.navigation-bar a {
	text-decoration: none;
	color: #fff;
	display: block;
	transition: .3s background-color;
}

.navigation-bar a:hover {
	background-color: #fff;
}

.navigation-bar a.active {
	background-color: #fff;
	color: #444;
	cursor: default;
}

/***** Concept Boxes *******/
.lesson-title-box {

}

ul {
font-family: 'ProximaNova', 'helvetica neue';
}

.concept {
background-color: #ffffff;
border-radius: 10px;
margin: 20px;
padding: 20px;
}

.content {
background-color: #ffffff;
}

/***** Box Model CSS *******/
.margin-color {
color: #F8CB9C;
}

.border-color {
color: #feedbb;
}

.padding-color {
color: #C1CD89;
}

.content-color{
color: #8AB3BF;
}

#box-model {
width: 200px;
height: 200px;
margin: 20px auto;
border-width: 10px;
border-color: #feedbb;
border-style: solid;
padding: 30px;
}

.box {
background-image: linear-gradient(#8AB3BF, #8AB3BF), linear-gradient(#C1CD89, #C1CD89);
background-clip: content-box, padding-box, border-box;
}

.outer-box {
width: 400px;
background-color: #F8CB9C;
border: 1px white solid;
padding: 0;
margin: 0 auto;
position: relative;
}

/* End Model CSS */

/***** Comment Entries *******/
.comment-entries {
	text-align: center;
	font-family: 'ProximaNova', 'helvetica neue';
	background-color: #ffffff;
	border-radius: 10px;
	width: 35%;
	margin: 0 auto;

}

.comment-box {
	width: 35%;
	margin: 0 auto;
}

.comment-submit {
	-webkit-user-select: none;
	background:rgb(76, 142, 250);
	border-radius: 2px;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	font-size:.875em;
	margin: 0;
	padding: 10px 5px;
	

}

.comment-box p {
	text-align: center;
	font-family: 'ProximaNova', 'helvetica neue'; 
}

.comment-error {
	font-size: 25px;
	text-align: center;
	background: white;
	border-radius: 10px;
	width: 35%;
	margin: 25px auto;
	font-family: 'ProximaNova', 'helvetica neue';
}