<!DOCTYPE html>

<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/intro.css">
	</head>

	<header>
		<div class="navigation-bar">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/stage1">Stage 1:</a></li>
				<li><a href="/stage2">Stage 2:</a></li>
				<li><a href="/stage3">Stage 3:</a></li>
				<li><a href="/stage4">Stage 4:</a></li>
			</ul>

		</div>

		<div class="login-logout">

		{{ user }}
		{% if user %}
    		{{ user.nickname }}!

    		[<a href="{{ logout }}"><b>sign out</b></a>]
		{% else %}   
    		[<a href="{{ login }}"><b>sign in</b></a>]
		{% endif %}

		


		</div>	
	</header>

	<body>
		{% block content %}
		{% endblock %}
	</body>

	<footer>
		<div class="comment-entries">
			{% for greeting in greetings %}
				{% if greeting.author %}
					<b>{{ greeting.author.email }}
						{% if user and user.user_id() == greeting.author.identity %}
							(You)
						{% endif %}
					</b> wrote:
				{% else %}
				An anonymous person wrote:
				{% endif %}
				
					<blockquote>{{ greeting.content|e }}</blockquote>
			{% endfor %}
		</div>

		<div class="comment-box">
			{% if user %}
			 <form action="/sign?guestbook_name={{ guestbook_name }}" method="post">

	      		<div>
	      			<textarea name="content" rows="3" cols="60" value=""></textarea>
	      		</div>

	      		<div><input type="submit" class="comment-submit" value="Sign Guestbook"></div>
	    	</form>
	    	{% else %}
	    	<p>Please sign in at the top of the page to leave a comment</p>
	    	{% endif %}
    	</div>

    	<hr>

    	<!--<form>Guestbook name:
    		<input value="{{ guestbook_name }}" name="guestbook_name">
      		<input type="submit" value="switch">
    	</form>-->
	
	</footer>
</html>
