<!DOCTYPE html>
<div class="comment-error">
	{{ comment_error }}
</div>
	<div class="comment-entries">

				{% for greeting in greetings %}
					{% if greeting.author %}
						<b>{{ greeting.author.email }}
							{% if user and user.user_id() == greeting.author.identity %}
								(You)
							{% endif %}
						</b> wrote:
					{% else %}
					An anonymous person wrote:
					{% endif %}
				
					<blockquote>{{ greeting.content|e }}</blockquote>
				{% endfor %}
		</div>

		<div class="comment-box">
			{% if user %}
			 <form action="/sign?guestbook_name={{ guestbook_name }}" method="post">

	      		<div>
	      			<textarea name="content" rows="3" cols="60" value=""></textarea>
	      		</div>

	      		<div><input type="submit" class="comment-submit" value="Sign Guestbook"></div>
	    	</form>
	    	{% else %}
	    	<p>Please sign in at the top of the page to leave a comment</p>
	    	{% endif %}
    	</div>

